apiVersion: v1
kind: Service
metadata:
  name: {{ include "finclaw.fullname" . }}
  labels:
    {{- include "finclaw.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "finclaw.selectorLabels" . | nindent 4 }}
